parameters:
    level: max
    fileExtensions:
        - php
    paths:
        - src/HiveCommerce
        - tests/HiveCommerce
    bootstrapFiles:
            - vendor/bitexpert/phpstan-magento/autoload.php
